.container {

.sponsors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: auto;
}

.footerHead {
    width: 45vw;
}

.sponsor {
    width: 45vw;
    height: auto;
    padding: 1rem;
}

@media screen and (min-width:600px) {
.sponsors {
    
    width: 80vw;
    justify-content: center;
}

.sponsor, .footerHead {
    max-width: 13rem;
}
}

@media screen and (min-width: 1000px) {
    
     .footerHead {
        display: none;
    }
    }

    @media screen and (min-width: 1500px) {
    
       .sponsors {
           padding:8rem 0 2rem 0;
           max-width: 70rem;   
       }
       }

}

.btm {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
        width: 25vw;
        height: auto;
    }

    p {
        font-size: .5rem;
        text-align: center;
    }
}

@media only screen and (min-width: 700px) {

.btm {
    .logo {
        width: 10vw;
    }
}

}

@media only screen and (min-width: 1000px) {
    .btm {
        .logo {
            max-width: 8rem;
        }
    }
    
  }


