.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3),
      rgba(3, 3, 3, 0.3)
    ),
    url("/winery.png");
  background-size: cover;
  width: 100vw;
  height: 50vh;

  h3 {
    font-size: 3rem;
    text-align: center;
    color: white;
    font-family: "Elsie", cursive;
  }

  @media only screen and (min-width: 700px) {
    width: 100vw;
    margin: auto;

    h3 {
      font-size: 4rem;
    }
  }

  @media only screen and (min-width: 1000px) {
    width: 100vw;
    height: 80vh;
    padding: 5rem;

    h3 {
      font-size: 4rem;
    }
  }

  @media only screen and (min-width: 1000px) {
    width: 100vw;
  }
}

.promo {
  color: #000033;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90vw;
  margin: 0 auto;
  padding-top: 2rem;

  h2 {
    font-weight: bold;
  }

  @media only screen and (min-width: 1000px) {
    width: 70vw;

    h2 {
      font-size: 2rem;
    }
  }

  @media only screen and (min-width: 1500px) {
    max-width: 65rem;
    padding: 4rem 0;
  }
}
