@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/Relish_Food_Lovers_Tent.jpg") ;
    background-size: cover;
    background-clip: text;
    background-position: center;

  h3 {
    font-size: 10rem;
    
    color: transparent;
    font-family: 'Luckiest guy', cursive;
  }
}



